## [TF-IDF 算法](http://www.ruanyifeng.com/blog/2013/03/tf-idf.html)
TF, Term Frequency, 词频。
IDF, Inverse Doc Frequency, 逆文档频率。

In [23]:
# corpus， 语料库

docA = 'the cat sat on my face'
docB = 'the dog sat on my bed'

# tokenizing， 分词
bowA = docA.split(' ')
bowB = docB.split(' ')


# 字典
wordSet = set(bowA) | set(bowB)

# 计算 Term Frequency
def calcTF(wordSet, bow):
    tfBow = dict.fromkeys(wordSet, 0)
    for word in bow:
        tfBow[word] += 1
    return tfBow

# 计算 Inverse Doc Frequency
def calcIDF(wordSet, bows):
    from math import log
    idfSet = dict.fromkeys(wordSet, 1)
    for bow in bows:
        for word in bow:
            idfSet[word] += 1
    for word in idfSet:
        idfSet[word] = 1.0 / log(idfSet[word])
    return idfSet

# 计算 TF-IDF
def calcTfIdf(idfSet, dfBow):
    df_idfBow = {}
    for word in dfBow:
        df_idfBow[word] = dfBow[word] * idfSet[word]
    return df_idfBow

In [24]:
# Corpus
import pandas as pd
pd.DataFrame([bowA, bowB])

     0    1    2   3   4     5
0  the  cat  sat  on  my  face
1  the  dog  sat  on  my   bed

In [18]:
# Tokenizing ,vectorizing and calc DF
aTf = calcTF(wordSet, bowA)
bTf = calcTF(wordSet, bowB)
pd.DataFrame([aTf, bTf])

   bed  cat  dog  face  my  on  sat  the
0    0    1    0     1   1   1    1    1
1    1    0    1     0   1   1    1    1

In [19]:
# calc IDF
idfSet = calcIDF(wordSet, [bowA, bowB])
pd.DataFrame([idfSet])

,bed,cat,dog,face,my,on,sat,the
0,1.442695,1.442695,1.442695,1.442695,0.910239,0.910239,0.910239,0.910239

In [22]:
# calc DF-IDF
aTfIdf = calcTfIdf(idfSet, aTf)
bTfIdf = calcTfIdf(idfSet, bTf)
pd.DataFrame([aTfIdf, bTfIdf])

,bed,cat,dog,face,my,on,sat,the
0,0.000000,1.442695,0.000000,1.442695,0.910239,0.910239,0.910239,0.910239
1,1.442695,0.000000,1.442695,0.000000,0.910239,0.910239,0.910239,0.910239