## pandas shift

shift 方法也为我们提供了一种计算对比数据的方法，如用 shift 方法，计算环比增加率。

In [3]:
import pandas as pd

df = pd.DataFrame(['a', 'b', 'c', 'd', 'e'])
print(df)
print(df.shift(1)) # 数据的 indexes 向后移， 即数据的 index + 1
print(df.shift(-1)) # 数据的 indexes 向前移，即数据的 index - 1

   0
0  a
1  b
2  c
3  d
4  e
     0
0  NaN
1    a
2    b
3    c
4    d
     0
0    b
1    c
2    d
3    e
4  NaN

In [4]:
df = pd.DataFrame({
    'income': [10, 20, 30, 40, 50, 40, 50, 20, 20, 30, 20, 50],
    'profits':[5, 15, 25, 30, 40, 20, 20, 5, 15, 15, 20, 50]
    })
df

    income  profits
0       10        5
1       20       15
2       30       25
3       40       30
4       50       40
5       40       20
6       50       20
7       20        5
8       20       15
9       30       15
10      20       20
11      50       50

In [8]:
# 利用 shift 来计算环比增长率。
df['next_month_income'] = df['income'].shift(-1)
df['income_ratio'] = (df['next_month_income'] - df['income']) / df['income'] * 100.0
df

    income  profits  next_month_income  income_ratio
0       10        5               20.0    100.000000
1       20       15               30.0     50.000000
2       30       25               40.0     33.333333
3       40       30               50.0     25.000000
4       50       40               40.0    -20.000000
5       40       20               50.0     25.000000
6       50       20               20.0    -60.000000
7       20        5               20.0      0.000000
8       20       15               30.0     50.000000
9       30       15               20.0    -33.333333
10      20       20               50.0    150.000000
11      50       50                NaN           NaN

In [ ]:
# 利用 pct_change 来计算增加率
df['income_ratio_2']